@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Raleway:600);

body, html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* HEADINGS & TEXT */

h1, h2, h3, .social-bar {
  margin: 0;
  position: relative;
  top: 30%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30);
}

h1, h2 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 500%;
}

h3 {
  color: #ddd;
  margin-top: 20px;
}

h1 em {
  color: #ccc;
}

/* PRELOADER */

#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff;
  z-index:99;
}

#loading-animation {
  width:128px;
  height:128px;
  position:absolute;
  left:50%;
  top:50%;
  background: url(../images/preloader.gif) no-repeat center center;
  margin: -64px 0 0 -64px;
}

/* NAVBAR */

.navbar-default {
  background: transparent;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #ddd;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ccc;
}

nav.navbar.sticky {
  background: #e7e7e7;
  font-family: Lato, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5% 5%;
}

nav.navbar.sticky li a {
  color: #355885;
  transition: all 0.5s ease;
}

nav.navbar.sticky a:hover, #logo:hover {
  color: #80B1D9;
  transition: all 0.5s ease;
}

.sticky li.active a {
  border-bottom: 3px solid;
  padding-bottom: 7%;
}

#logo {
  color: #404245;
  transition: all 0.5s ease;
}

/* SECTIONS */

.section {
  height: 500px;
  text-align: center;
}

/* HOME */

.home {
  height: 100%;
  background: url(../images/backbend_unsplash.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

/* SOCIAL BAR */

.social-bar {
  color: #ccc;
  font-size: 20px;
  margin-top: 20px;
}

i {
  padding:5px;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-github:hover {
  color: #333;
}

.fa-linkedin:hover {
  color: #007bb6;
}

/* ABOUT */

.about {
  background-color: #CFF09E;
}

/* STACK */

.stack {
  background-color: #A8DBA8;
}

/* BLOG */

.blog {
  background-color: #79BD9A;
}

/* PORTFOLIO */

.portfolio {
  background-color: #3B8686;
}

/* CONTACT */

.contact {
  background-color: #0B486B;
}

/* FOOTER */

footer {
  background-color: #d8d8d8;
  height: 300px;
  text-align: center;
  padding-top: 50px;
}

.top {
  position: fixed;
  bottom: 0.75em;
  right: 0.5em;
  background-color: rgba(255,255,255,0.25);
  padding: 5px;
  display: none;
}

.top:hover {
  background-color: rgba(255,255,255,0.75);
}
