@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway:600);

body, html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* HEADINGS & TEXT */

h1, h2, h3, .social-bar {
  margin: 0;
  position: relative;
  top: 30%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30);
}

h1, h2 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 500%;
}

h3 {
  color: #ddd;
}

h1 em {
  color: #ccc;
}

/* NAVBAR */

.navbar-default {
  background:transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #ddd;
}

.navbar-default .navbar-nav > li > a:hover {
  text-transform: uppercase;
  color: #ddd;
}

/* SECTIONS */

.section {
  height: 500px;
  text-align: center;
}

/* HOME */

.home {
  height: 100%;
  background: url(../images/backbend_unsplash.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

/* SOCIAL BAR */

.social-bar {
  color: #ccc;
  font-size: 20px;
  margin-top: 20px;
}

i {
  padding:5px;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-github:hover {
  color: #333;
}

.fa-linkedin:hover {
  color: #007bb6;
}

/* ABOUT */

.about {
  background-color: #CFF09E;
}

/* STACK */

.stack {
  background-color: #A8DBA8;
}

/* BLOG */

.blog {
  background-color: #79BD9A;
}

/* PORTFOLIO */

.portfolio {
  background-color: #3B8686;
}

/* CONTACT */

.contact {
  background-color: #0B486B;
}

/* FOOTER */

footer {
  background-color: #d8d8d8;
  height: 300px;
  text-align: center;
  padding-top: 50px;
}
